@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #1b1b1c;
  font-size: 100%;
}

.container {
  width: 1120px;
  height: auto;
  margin: 0 auto;
}

header {
  margin: 75px 0;
}
header h1 {
  font-weight: 600;
  font-size: 1.4rem;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.swatch {
  width: 18.57%;
  background-color: #3c3b3d;
  border-radius: 5px;
  float: left;
  margin: 0 20px 20px 0;
  overflow: hidden;
}
.swatch:nth-child(5n) {
  margin-right: 0;
}
.swatch .swatch-color {
  position: relative;
  width: 100%;
  padding: 6.5em 1em;
  display: block;
}
.swatch .swatch-color:after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.1);
}
.swatch .swatch-color.color-ruby {
  background-color: #D8334A;
}
.swatch .swatch-color.color-grapefruit {
  background-color: #ED5565;
}
.swatch .swatch-color.color-bittersweet {
  background-color: #FC6E51;
}
.swatch .swatch-color.color-sunflower {
  background-color: #FFCE54;
}
.swatch .swatch-color.color-straw {
  background-color: #E8CE4D;
}
.swatch .swatch-color.color-grass {
  background-color: #A0D468;
}
.swatch .swatch-color.color-mint {
  background-color: #48CFAD;
}
.swatch .swatch-color.color-teal {
  background-color: #A0CECB;
}
.swatch .swatch-color.color-aqua {
  background-color: #4FC1E9;
}
.swatch .swatch-color.color-blue-jeans {
  background-color: #5D9CEC;
}
.swatch .swatch-color.color-plum {
  background-color: #8067B7;
}
.swatch .swatch-color.color-lavender {
  background-color: #AC92EC;
}
.swatch .swatch-color.color-pink-rose {
  background-color: #EC87C0;
}
.swatch .swatch-color.color-light-gray {
  background-color: #F5F7FA;
}
.swatch .swatch-color.color-medium-gray {
  background-color: #CCD1D9;
}
.swatch .swatch-color.color-dark-gray {
  background-color: #656D78;
}
.swatch .swatch-color.color-charcoal {
  background-color: #3C3B3D;
}
.swatch .swatch-info {
  padding: 1em;
  color: #808080;
  text-align: center;
}
.swatch .swatch-info p {
  font-size: 0.85rem;
  margin-bottom: .75em;
}
.swatch .swatch-info p:first-child {
  font-weight: 600;
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #fff;
}
.swatch .swatch-info p:last-child {
  margin-bottom: 0;
}